/* Base styles */
body {
    background-color: #f4f4f9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.topArea {
    width: 100%;
    background-color: #51c8ef;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.topArea img {
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 24px;
}

/* Form styles */
.form-table-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

form {
    width: 45%;
    padding: 20px;
    border: 1px solid #51c8ef;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-left: 1%;
}

.form-group {
    margin-bottom: 16px;
}

form label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.inline-label {
    display: inline-block;
    margin-left: 5px;
    margin-right: 15px;
}

form input[type="text"] {
    margin-bottom: 8px;
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="radio"] {
    margin-right: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #51c8ef;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #47b2d9;
}

/* Table styles */
.table-container {
    width: 45%;
    padding-right: 2%;
}
.table-container h1{
    border: 1px solid #51c8ef;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 1%;
    background-color: #f9f9f9;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #51c8ef;
    color: #fff;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(odd) {
    background-color: #fff;
}

#noRequestsMessage {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    text-align: center;
}

.identifier {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #51c8ef;
    border-radius: 5px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #51c8ef;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
}

.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content button#confirmDelete {
    background-color: #51c8ef;
    color: #fff;
}

.modal-content button#cancelDelete {
    background-color: #ccc;
    color: #333;
}
